name: Build and Release as Single Exe

on:
  push:
    branches:
      - main
    tags:
      - '*'
    paths-ignore:
      - 'README.md'
      - '**/*.md'
      - '.github/**'
  workflow_dispatch:
 
jobs:
  build:
    runs-on: windows-latest

    permissions:
      contents: read  
      id-token: write 
      packages: write  
      issues: write 

    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore ./Clock_WPF/Clock_WPF.csproj

    - name: Build project
      run: dotnet build ./Clock_WPF/Clock_WPF.csproj --configuration Release --no-restore

    - name: Publish single exe
      run: |
        if (!(Test-Path -Path Clock_WPF/exe)) {
          New-Item -ItemType Directory -Path Clock_WPF/exe
        }
        dotnet publish ./Clock_WPF/Clock_WPF.csproj `
          -c Release `
          -r win-x64 `
          --self-contained `
          /p:PublishSingleFile=true `
          /p:IncludeAllContentForSelfExtract=true `
          /p:TrimUnusedDependencies=true `
          -o Clock_WPF/exe

    - name: List published files
      run: |
        dir Clock_WPF/exe

    - name: Upload Build Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Clock_WPF-Exe
        path: Clock_WPF/exe/Clock_WPF.exe

  release:
    runs-on: ubuntu-latest
    needs: build

    permissions:
      contents: write 
    steps:
    - name: Check out repository
      uses: actions/checkout@v4

    - name: Download Build Artifact
      uses: actions/download-artifact@v4
      with:
        name: Clock_WPF-Exe

    - name: Create Release
      id: create_release
      uses: actions/create-release@v1
      with:
        tag_name: v1.0.${{ github.run_number }}
        release_name: Release v1.0.${{ github.run_number }}
        draft: false
        prerelease: false
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload Release Assets
      uses: actions/upload-release-asset@v1
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ./Clock_WPF.exe
        asset_name: Clock_WPF.exe
        asset_content_type: application/octet-stream
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
